<div class="offset-by-two fourteen columns double-bottom">
	<h2>Make a new Lyric.</h2>
</div>

<% if @topic.lyrics.any? %>
<div class="offset-by-one twelve columns">
<p>Warning, Unless you HATE the existing lyrics, you should use the editing features instead of creating a new Lyric. This form is for COMPLETE overhauls only.</p>
</div>

<% end %>
<div class="offset-by-one six columns">

<%= form_for @lyric do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :text, 'Enter new Lyrics:' %>
	<%= text_area_tag 'text'  %>
	<%= f.hidden_field :topic_id, value: @topic.id %>
	<small class="not-a-button">
		<%= f.submit '[create lyric]' %>
	</small>
<% end %>

</div>
