

<div class="offset-by-one eight columns double-bottom">
	<h2><%= link_to @lyric.title, lyric_path( @lyric ) %></h2>
</div>

<div class="offset-by-one eight columns double-bottom">

	<%= form_tag get_lyric_version_path, remote: true do %>

	<%= select_tag :lyric_version, options_for_select(@versions_for_select) %>

	<small class="not-a-button insert-link">
		<%= submit_tag '[go]' %>
	</small> 

	<% end %>
</div>

<div id="lyric-version-container">

<%= render 'shared/lyric_version' %>

</div>