<form action="<%= insert_line_path 10 %>" data-remote="true">

<%= hidden_field_tag "lyric_id", line.lyric_id %>

<%= hidden_field_tag "placement[first]", first  %>
<%= hidden_field_tag "placement[second]", second, class: 'second'  %>
	<small>
		<%= submit_tag '[insert line]' %>
	</small>

</form>