<div id="entity-<%= line.order_number.to_i %>" >

	<div class="one column alpha">
		<!-- PREVIOUS: previous-order_number -->
		<% if @new %>
			<%= link_to "", "#", 
					id: "previous-#{line.order_number.to_i}", 
					remote: true,
					class: 'icon-arrow-left'  %>
		<% else %>
			<%= link_to "", previous_line_path( line ), 
					id: "previous-#{line.order_number.to_i}", 
					remote: true,
					class: 'icon-arrow-left'  %>
		<% end %>
	</div>
	
	<!-- LINE: line-order_number -->
	<div class="six columns" id="line-<%= line.order_number.to_i %>" >
		<% if @new %>
			<%= render partial: 'lines/line_form',
					   locals: { lyric_line: line } %>
		<% else %>
			<%= render partial: 'lines/line_link', 
					   locals: { line: line } %>
		<% end %>
	</div>

	<div class="one column omega">
		<!-- NEXT: next-order_number -->
		<% if @new %>
			<%= link_to "", "#", 
					id: "next-#{line.order_number.to_i}" , 
					remote: true,
					class: 'icon-arrow-right' %>
		<% else %>
			<%= link_to "", next_line_path( line ), 
					id: "next-#{line.order_number.to_i}" , 
					remote: true,
					class: 'icon-arrow-right' %>
		<% end %>

	</div>

	<br class="clear">

	<div class="offset-by-one six columns alpha omega insert-link" >

		<div id="form-<%= line.order_number.to_i %>">

		<!-- insert form -->
		<%= render partial: 'shared/insert_form',
				   locals: { line: line,
				   			 first: line.order_number,
				   			 second: @second || get_second_line( lyric_lines, line ) } %>
		</div>

	</div>

	<br class="clear">

</div>


