












<form id="order-0" action="<%= insert_line_path lyric_lines[0] %>" data-remote="true" >
<div class="offset-by-two four columns insert-link" >
	<small>
		<%= submit_tag '[insert line]' %>
	</small>
</div>
<%= hidden_field_tag "placement[first]", 0  %>
<%= hidden_field_tag "lyric_id", lyric_lines[0].lyric_id %>
<br class="clear">

<% lyric_lines.each do |line| %>
	<%= render partial: 'shared/line', locals: { line: line } %>
<% end %>

</form>