<% provide :heading, get_heading %>

<!DOCTYPE html>
<html>
<head>
  <title>A-B-Crowd Composers</title>
  <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat|Roboto+Slab' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<!-- will style this later -->
	<nav class="offset-by-one fourteen columns double-bottom">
		<%= render 'layouts/menu' %>
	</nav>
	<br class="clear">
	<div class="sixteen columns add-bottom">
		<header>
			<h1>
				<i class='icon-music icon-large'></i> 
				<span class="a-color">A</span>-
				<span class="b-color">B</span>-
				<span class="c-color">C</span>rowd 
				<span class="a-color">C</span>omposers
			</h1>
		</header>
	</div>
	<div class="sixteen columns">
		<%= render 'layouts/alerts' %>
	</div>
	<br class="clear">

	<%= yield %>
	
	<br class="clear">
	<hr>
	<h5>Change someone's life!</h5>
	</div>
</body>
</html>
