<% provide :heading, get_heading %>

<!DOCTYPE html>
<html>
<head>
  <title>AbcrowdComposers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<!-- will style this later -->
	<nav class="sixteen columns">
		<%= render 'layouts/menu' %>
	</nav>
	<br class="clear">
	<div class="sixteen columns">
		<heading><h2><%= yield :heading %></h2></heading>
	</div>
	<div class="sixteen columns">
		<%= render 'layouts/alerts' %>
	</div>
	<br class="clear">

	<%= yield %>

	</div>
</body>
</html>
